/* Login Form Styles */
/* register Form Styles */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    z-index: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #ddd;
}

form>button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2575fc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    z-index: 100%;
    transition: background 0.3s ease;
}

form>button:hover {
    background: #6a11cb;
}

a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

.google_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #757575;
    font-size: 0.9rem;
    font-weight: 510;
    cursor: pointer;
}

.google_btn img {
    margin-right: 10px;
}

.google_btn:hover {
    background: #6a11cb;
    transition: all;
    transition-duration: 0.3s;
    color: #fff;
}